* {
    box-sizing: border-box;
    font-family: "Noto Sans TC";
    font-size: 16px;
    color: #666;
    font-weight: 400;
    scroll-padding-top: 88px;
  }
  
  .header {
    width: 100%;
    height: 88px;
    color: #ffffff;
    /* border-bottom: #E4E6E8 1px solid; */
    border-bottom: #EBEBEB 1px solid;
  }
  
  .header_container {
    width: 1200px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
  }
  
  .header_container > img {
    width: 231px;
    height: 32px;
  }
  
  /* ------------------------------ nav_menu ------------------------------ */
  .menu_busroute {
    margin-right: 40px;
    text-decoration: none;
    position: relative;
  }
  .menu_busroute:hover {
    color: #FF8B7C;
  }
  .menu_busroute:hover::after {
    content: url(./images/icon/wave_pink.png);
    position: absolute;
    top: 20px;
    right: 0;
  }
  
  .menu_buslocate {
    margin-right: 40px;
    text-decoration: none;
    position: relative;
  }
  .menu_buslocate:hover {
    color: #FF8B7C;
  }
  .menu_buslocate:hover::after {
    content: url(./images/icon/wave_pink.png);
    position: absolute;
    top: 20px;
    right: 0;
  }
  
  .menu_landscape {
    margin-right: 40px;
    text-decoration: none;
    position: relative;
  }
  .menu_landscape:hover {
    color: #FF8B7C;
  }
  .menu_landscape:hover::after {
    content: url(./images/icon/wave_pink.png);
    position: absolute;
    top: 20px;
    right: 0;
  }
  
  
  .btn_callforaction {
    background-color: #FF8B7C;
    width: 134px;
    height: 42px;
    font-weight: 400;
    color: #ffffff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
  }
  /* ------------------------------ nav_menu ------------------------------ */
  
  /* ------------------------------ hero_section ------------------------------ */
.hero_section {
  width: 100vw;
  height: 100vh;
  background-color: #EBEBEB;
  position: relative;
}
.bus_info{
    width: 380px;
    height: 200px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 30px;
}

.bus_info_container{

  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gps_result_box{
    width: 340px;
    margin: 0 auto;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: #EBEBEB 1px solid;
}

.gps_box_1{
    display: flex;
    align-items: center;
}
.gps_box_2{
    display: flex;
    align-items: center;
    padding-top: 8px;
    padding-left: 20px;
}
.gps_result{
    width: 380px;
    height: 80%;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-top: 30px;
    overflow: scroll;
}
.gps_result_title{
  font-weight: 500;
  font-size: 19px;
  color: #666666;
  padding-left: 8px;
}
.gps_busstop_number{
    font-weight: 500;
  font-size: 19px;
  color: #FF8B7C;
  padding-left: 8px;
}
.bus_card{
    width: 340px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
    margin-top: 16px;
    cursor: pointer;
}
.bus_card:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.bus_card_number{
    color: #FF8B7C;
    font-weight: 700;
}
.bus_card_name{
    color: #666;
    font-weight: 400;
    width: 50%;
    text-align: right;
    padding: 16px 0 16px 0;
}

  /* ------------------------------ hero_section ------------------------------ */
  footer {
    background: #373f41;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    width: 100vw;
  }