.hero_section {
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb;
  position: relative;
}
.bus_info {
  width: 380px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 30px;
}

.bus_info_container {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bus_name_box {
  width: 340px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bus_name {
  font-weight: 500;
  font-size: 28px;
  color: #ff8b7c;
}
.label {
  display: flex;
}
.label_location {
  font-size: 12px;
  height: 24px;
  border: 1px solid #c9c9c9;
  border-radius: 20px;
  padding-left: 8px;
  padding-right: 12px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  color: #878787;
}
.label_location img {
  padding-right: 6px;
}
.label_bus {
  font-size: 12px;
  height: 24px;
  border: 1px solid #ff8b7c;
  border-radius: 20px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  color: #ff8b7c;
}
.info_box {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  margin-top: 12px;
  margin-bottom: 12px;
}
.info_title {
  color: #878787;
  margin-right: 10px;
}

.bus_realtime {
  width: 380px;
  height: 435px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 30px;
}
.bus_realtime_title {
  font-weight: 500;
  font-size: 19px;
  color: #666666;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.bus_realtime_tab {
  width: 340px;
  margin: 0 auto;
  border-bottom: 1px solid #dadada;
  margin-top: 20px;
  display: flex;
}
.tab_selected {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #ff8b7c;
  font-weight: 500;
  padding-bottom: 8px;
  position: relative;
}
.tab_selected_bar {
  width: 100%;
  height: 5px;
  background-color: #ff8b7c;
  position: absolute;
  bottom: -3px;
}
.tab_default {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  color: #666666;
  font-weight: 400;
  padding-bottom: 8px;
}
.realtime_list {
  width: 340px;
  height: 320px;
  margin: 0 auto;
  overflow: scroll;
}
.realtime_box {
  width: 340px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dadada;
  display: flex;
  justify-content: space-between;
}
.realtime_status_nobus {
  width: 80px;
  padding: 6px;
  text-align: center;
  border-radius: 4px;
  color: #878787;
  font-size: 12px;
  border: 1px solid #c9c9c9;
  margin-left: 10px;
}
.realtime_status_pullin {
  width: 80px;
  padding: 6px;
  text-align: center;
  border-radius: 4px;
  color: #ff8b7c;
  font-size: 16px;
  margin-left: 10px;
}
.realtime_title_box {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.license {
  padding: 6px;
  text-align: center;
  border-radius: 4px;
  background-color: #c9c9c9;
  color: #ffffff;
  font-size: 12px;
}
.realtime_status_timing {
  width: 80px;
  padding: 6px;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
  margin-left: 10px;
}
.realtime_status_timing_number {
  font-weight: bold;
  font-size: 20px;
  color: #666666;
}
.realtime_status_timing_minute {
  font-size: 16px;
  color: #6f7585;
  margin: 0px 6px;
}
