/* ------------------------------ hero_section ------------------------------ */
.hero_section_stop {
  width: 100vw;
  height: 100vh;
  background-color: #ebebeb;
  position: relative;
}
.bus_info {
  width: 380px;
  height: 200px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 30px;
}
.bus-map {
  position: absolute;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}
.bus_info_container {
  z-index: 10;
  width: 1200px;
  height: 100vh;
  margin: 0 auto;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.gps_result_box {
  width: 340px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 16px;
  border-bottom: #ebebeb 1px solid;
}

.gps_box_1 {
  display: flex;
  align-items: center;
}
.gps_box_2 {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 20px;
}
.gps_result {
  top: 5%;
  left: 5%;
  position: absolute;
  width: 380px;
  height: 80%;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-top: 30px;
  overflow: scroll;
}
.gps_result_title {
  font-weight: 500;
  font-size: 19px;
  color: #666666;
  padding-left: 8px;
}
.gps_busstop_number {
  font-weight: 500;
  font-size: 19px;
  color: #ff8b7c;
  padding-left: 8px;
}
.bus_card {
  width: 340px;
  background: #ffffff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
  margin-top: 16px;
  cursor: pointer;
}
.bus_card:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.bus_card_number {
  color: #ff8b7c;
  font-weight: 700;
}
.bus_card_name {
  color: #666;
  font-weight: 400;
  width: 50%;
  text-align: right;
  padding: 16px 0 16px 0;
}

/* ------------------------------ hero_section ------------------------------ */
footer {
  background: #373f41;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  width: 100vw;
}
